{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

 <div class="row">
        
    {% for advert in listAdverts %}



    <div class="col-md-3 col-sm-6">
  		<span class="thumbnail">
  			<h4>Départ de {{ advert.title }}</h4>
    			<div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>Destination   {{ advert.title2 | upper }}</p>

          {% if advert.content is not null %}<p>{{ advert.content }}</p>
          {% else %}<a>sans commentaire</a>
          {% endif %}

          <p>par {{ advert.author }},
               le {{ advert.date|date('d/m/Y') }}</p>
    			<hr class="line">

    			<div class="row">
            <div class="col-md-6 col-sm-6">
  					 <p class="price">$29,90</p>
  				  </div>
  				<div class="col-md-6 col-sm-6">
  					<a class="link btn btn-success right" href="{{ path('oc_platform_view', {'id': advert.id}) }}">
              Plus de détails
            </a>
  				</div>
    				
    			</div>
    		</span>
  		</div>


    {% else %}
      <div class="col-lg-4">Pas (encore !) d'annonces</div>
    {% endfor %}
        
 </div><!-- /.row -->



















 

   <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}